@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stroke-draw {
    stroke-dasharray: 1820;
    stroke-dashoffset: 1820;
    fill: transparent;
    animation: draw 20s ease forwards infinite;
    /* animation-direction: alternate; */
    transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  }

  @keyframes draw3 {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes draw {
    0% {
      stroke-dashoffset: 0;
    }
    40% {
      stroke-dashoffset: 1820;
    }
    50% {
      stroke-dashoffset: 1820;
    }
    80% {
      stroke-dashoffset: 3640;
    }
    100% {
      stroke-dashoffset: 3640;
    }
  }

  .active .stroke-draw {
    fill: rgb(0, 0, 0);
  }
}

.AnimSube {
  display: inline-block;
  white-space: nowrap;
  transition: all 0.4s ease;
  transform-origin: center center;
}

.AnimBaja {
  position: absolute;
  transform: translateY(1em) rotateX(90deg);
  transition: all 0.4s ease;
}

.MenuLink:hover .AnimSube {
  transform: translateY(-0.5em) rotateX(90deg);
}

.MenuLink:hover .AnimBaja {
  transform: translateY(0) rotateX(0deg);
}

.music-player {
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(0, 0, 0);
}

.music-player.expanded {
  width: 250px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border-top-left-radius: 20px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.audio-waves-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wave,
.wave2,
.wave3 {
  width: 2px;
  height: 20px;
  margin: 2px;
  background-color: #000;
  display: inline-block;
  animation: waveAnimation 0.7s infinite ease-in-out;
  animation-play-state: paused;
}

.wave {
  height: 18px;
  animation-delay: -0.1s;
}

.wave2 {
  height: 20px;
  animation-delay: -0.2s;
}

.wave3 {
  height: 20px;
  animation-delay: -0.4s;
}

.wave.playing,
.wave2.playing,
.wave3.playing {
  animation-play-state: running;
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.3);
  }
  40% {
    transform: scaleY(1.1);
  }
  60% {
    transform: scaleY(0.8);
  }
  80% {
    transform: scaleY(0.9);
  }
}

@media screen and (max-width: 425px) {
  .TitleMusicaTitle {
    font-size: 1.5rem;
  }
  .TitleMusicaArtist {
    font-size: 0.9rem;
  }
  .time-info {
    width: 100%;
    font-size: 0.9rem;
  }

  .btnplay svg {
    width: 5rem;
    height: 5rem;
  }
  .btnmenu svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .btnvolumen svg {
    width: 3rem;
    height: 3rem;
  }
  .tooltip-visible {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .TitleSongMenu {
    font-size: 1.2rem;
    margin: 0.6rem;
  }
  .TitleSongMenu:hover {
    background-color: #36363600;
  }
  .btn-vol:hover {
    border-radius: 0rem;
    margin: 0rem;
  }
  .music-player {
    margin: 0rem;
  }
  .music-player.expanded {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border: 0px solid transparent;
  }
  .minimize-icon {
    display: none;
  }
  .tooltip {
    bottom: 30%;
    right: 0%;
  }
}

@media screen and (max-width: 320px) {
  .btnplay svg {
    width: 4rem;
    height: 4rem;
  }
  .btnmenu svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.guide-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
}

.timeline {
  position: relative;
  margin: 20px 0;
  padding: 20px 0;
  list-style-type: none;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
  width: 3px;
  background: #e8eaee;
}

.timeline-item {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-icon {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  font-size: 0.8rem;
  font-weight: 800;
  left: 1.7%;
  top: 0;
  z-index: 1;
}

.timeline-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.timeline-content {
  margin-left: 60px;
  padding: 20px;
  border-radius: 5px;
  width: calc(100% - 110px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: black;
}

.timeline-content h3 {
  margin-top: 0;
  font-size: 1.17rem;
  font-weight: bold;
}

.timeline-content img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  height: auto;
  display: block;
}

.Secciones-Guias {
  color: black;
  border-bottom: 3px solid #e8eaee;
}

.CodeBox-Guias {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
}

.Caja-Advertencia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  padding: 10px 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  gap: 8px;
}

.Verde {
  background-color: #edf7ed;
  border-radius: 5px;
  color: #1e4620;
}
.Azul {
  background-color: #e5f6fd;
  border-radius: 5px;
  color: #014361;
}
.Amarillo {
  background-color: #fff4e5;
  border-radius: 5px;
  color: #694004;
}
.Rojo {
  border-radius: 5px;
  background-color: #fdeded;
  color: #5f2120;
}

.Verde svg {
  color: #408944;
}
.Azul svg {
  color: #1893d5;
}
.Amarillo svg {
  color: #ef7918;
}
.Rojo svg {
  color: #d74141;
}

.Caja-Advertencia p {
  line-height: 1.4;
}

.Caja-Advertencia svg {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  padding-right: 4px;
}

.Caja-Descarga {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  /* border: 1px solid red; */
}

.Caja-Descarga a {
  text-decoration: none;
}

.Caja-Descarga svg {
  padding: 0px 4px;
  width: 1.5rem;
  height: 1.5rem;
}

.Caja-Descarga button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 4px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  background-color: #1871cc;
  border: 0px;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.Caja-Descarga button:hover {
  background-color: #1258a8;
}

.menu {
  list-style-type: none;
  padding: 0;
  height: 100%;
}

.menu-item h3 {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 10px;
}

.menu-item ul {
  padding-left: 15px;
}

.menu-item li {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 0.8rem;
  font-weight: 500;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.Contenedor-Menu-Guias-Completo {
  display: flex;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 4rem);
}

.Contenedor-Menu-Guias {
  width: 18%;
  padding: 10px;
  min-height: calc(100vh - 9rem);
  position: sticky;
  top: 5rem;
  align-self: flex-start;
}

.Contenedor-Guias {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Contenedor-Contenido-Guias {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 55%;
  height: 100%;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 0px;
  color: #1a1e22;
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 1440px) {
  .Contenedor-Contenido-Guias {
    width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .Contenedor-Contenido-Guias {
    width: 78%;
  }
  .timeline-icon {
    left: 2%;
  }
  .Contenedor-Menu-Guias {
    position: fixed;
    width: 250px;
    /* background-color: #f4f4f4; */
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 100;
    transition: all 0.5s ease-in-out;
  }

  .Contenedor-Menu-Guias.open {
    left: 0%;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: 0.7%;
    left: 12%;
    z-index: 101;
    transition: all 0.6s ease-in-out;
    transition-delay: 100ms;
  }
  .hamburger-menu.open {
    top: 0.7%;
    left: 19.3%;
    z-index: 101;
  }
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    top: 0.7%;
    left: 15.5%;
  }
  .hamburger-menu.open {
    top: 0.7%;
    left: 26%;
  }
  .Contenedor-Contenido-Guias {
    width: 80%;
  }
  .timeline-icon {
    left: 2.6%;
  }
}

@media screen and (max-width: 425px) {
  .hamburger-menu {
    top: 0.7%;
    left: 27%;
  }
  .hamburger-menu.open {
    top: 0.7%;
    left: 47%;
  }
  .Contenedor-Contenido-Guias {
    width: 97%;
  }
  .timeline-content {
    width: calc(100% - 80px);
  }
  .timeline-icon {
    left: 4%;
  }
}

@media screen and (max-width: 375px) {
  .hamburger-menu {
    top: 0.7%;
    left: 29%;
  }
  .hamburger-menu.open {
    top: 0.7%;
    left: 53%;
  }
  .timeline-icon {
    left: 4.4%;
  }
}

@media screen and (max-width: 320px) {
  .hamburger-menu {
    top: 0.7%;
    left: 35%;
  }
  .hamburger-menu.open {
    top: 0.7%;
    left: 62.5%;
  }
  .timeline-icon {
    left: 5.4%;
  }
}

/* Caja-Advertencia Verde dark:rounded-md dark:bg-[#0c130d] dark:text-[#cce8cd] */
/* Caja-Advertencia Azul dark:rounded-md dark:bg-[#071318] dark:text-[#b8e7fb] */
/* Caja-Advertencia Amarillo dark:rounded-md dark:bg-[#191207] dark:text-[#fcdfb5] */
/* Caja-Advertencia Rojo dark:rounded-md dark:bg-[#160b0b] dark:text-[#dcb3b3] */
