@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stroke-draw {
    stroke-dasharray: 1820;
    stroke-dashoffset: 1820;
    fill: transparent;
    animation: draw 20s ease forwards infinite;
    /* animation-direction: alternate; */
    transition: fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  }

  @keyframes draw3 {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes draw {
    0% {
      stroke-dashoffset: 0;
    }
    40% {
      stroke-dashoffset: 1820;
    }
    50% {
      stroke-dashoffset: 1820;
    }
    80% {
      stroke-dashoffset: 3640;
    }
    100% {
      stroke-dashoffset: 3640;
    }
  }

  .active .stroke-draw {
    fill: rgb(0, 0, 0);
  }
}

.AnimSube {
  display: inline-block;
  white-space: nowrap;
  transition: all 0.4s ease;
  transform-origin: center center;
}

.AnimBaja {
  position: absolute;
  transform: translateY(1em) rotateX(90deg);
  transition: all 0.4s ease;
}

.MenuLink:hover .AnimSube {
  transform: translateY(-0.5em) rotateX(90deg);
}

.MenuLink:hover .AnimBaja {
  transform: translateY(0) rotateX(0deg);
}

.music-player {
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(0, 0, 0);
}

.music-player.expanded {
  width: 250px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border-top-left-radius: 20px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.audio-waves-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wave,
.wave2,
.wave3 {
  width: 2px;
  height: 20px;
  margin: 2px;
  background-color: #000;
  display: inline-block;
  animation: waveAnimation 0.7s infinite ease-in-out;
  animation-play-state: paused;
}

.wave {
  height: 18px;
  animation-delay: -0.1s;
}

.wave2 {
  height: 20px;
  animation-delay: -0.2s;
}

.wave3 {
  height: 20px;
  animation-delay: -0.4s;
}

.wave.playing,
.wave2.playing,
.wave3.playing {
  animation-play-state: running;
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.3);
  }
  40% {
    transform: scaleY(1.1);
  }
  60% {
    transform: scaleY(0.8);
  }
  80% {
    transform: scaleY(0.9);
  }
}

@media screen and (max-width: 425px) {
  .TitleMusicaTitle {
    font-size: 1.5rem;
  }
  .TitleMusicaArtist {
    font-size: 0.9rem;
  }
  .TitleMusicaArtist.dark {
    font-size: 0.8rem;
  }
  .time-info {
    width: 100%;
    font-size: 0.9rem;
  }

  .btnplay svg {
    width: 5rem;
    height: 5rem;
  }
  .btnmenu svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .btnvolumen svg {
    width: 3rem;
    height: 3rem;
  }
  .tooltip-visible {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .TitleSongMenu {
    font-size: 1.2rem;
    margin: 0.6rem;
  }
  .TitleSongMenu:hover {
    background-color: #36363600;
  }
  .btn-vol:hover {
    border-radius: 0rem;
    margin: 0rem;
  }
  .music-player {
    margin: 0rem;
  }
  .music-player.expanded {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border: 0px solid transparent;
  }
  .minimize-icon {
    display: none;
  }
  .tooltip {
    bottom: 30%;
    right: 0%;
  }
}

@media screen and (max-width: 320px) {
  .btnplay svg {
    width: 4rem;
    height: 4rem;
  }
  .btnmenu svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
